<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>196692038396-shs32ikdpvc56eer99kcfrv2scioq88r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.196692038396-shs32ikdpvc56eer99kcfrv2scioq88r</string>
	<key>API_KEY</key>
	<string>AIzaSyAKxKfRlQzZUFHhqwAdnawZQiLP6UKFFDw</string>
	<key>GCM_SENDER_ID</key>
	<string>196692038396</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>xyz.jonthn.flutterBlueprint</string>
	<key>PROJECT_ID</key>
	<string>flutter-blueprint</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-blueprint.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:196692038396:ios:29a5a23dff2a72cd547d79</string>
	<key>DATABASE_URL</key>
	<string>https://flutter-blueprint.firebaseio.com</string>
</dict>
</plist>